#botonera{
    background-color: $maincolor;   
    
    img{
        width: 70px;
        @media (max-width: 320px){
            width: 50px;
        }
    }
    ul{
        width: 100%; 
        align-items: end;
        li{
            a{                           
                color: $keyColor;
                font-size: $textMd;
                font-weight: $textLight;
                font-family: $fontroboto;
                &:hover{
                color: $secondaryColor;
                }
            }
        }
    }
}

.titulo{
    color: $secondaryColor;
    background-color:$keyColor;
    font-size: $textXxl;
    font-weight: $textBold;
    font-family: $fontroboto;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin:1em;
    text-align: center;
}

h1{
    font-size: $textXl;
    color: $secondaryColor;padding-top: 0.4em;
    font-weight: $textBold;
    padding-bottom: 0.4em;
    margin-top: 0.5em;
    text-align: center;
    text-transform: capitalize;
    &:hover{
        text-decoration: underline;
    }
   
}

h4,h6{
    width: 100%;
    color: $secondaryColor;
    font-size: $textXl;
    text-align: center;
    font-weight:$textRegular;
 }


#redes{
    width: 100%;
    background-color: $maincolor;

}

#redes .footer__img{    
    width: 60px;
    height: 60px;     
    border-radius:50%;    
    margin: 0.5em;
}

.r-A{
    grid-area: r-A;
}

.r-B{
    grid-area: r-B;
}

.r-C{
    grid-area: r-C;
}

.r-D{
    grid-area: r-D;
    
}

.p-E{
    grid-area: p-E;
  
}

#redes{
    display: grid;   
    grid-template-columns: 1fr 1fr;
    grid-row: repeat (3, 20vh);
    grid-template-areas: 
    "r-A r-B"
    "r-C r-D"
    "p-E p-E";
}

@media (max-width: 768px){
    #redes{
        grid-template-columns: 1fr;
        grid-template-rows: repeat (5,20vh);
        grid-template-areas: 
        "r-A"
        "r-B"
        "r-C"
        "r-D"
        "p-E";
    }   
  
 }

 p{
    color: $keyColor;
    font-size:$textSm;
    font-weight: $textLight;
    width: 100%;
    margin: 0.5em;
    text-align:center;
   

    }

.imagenformulario{
    background-image: url(https://i.pinimg.com/originals/52/b8/ca/52b8caa82c0fcda0ec8d2c288d6ff08d.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;   
}


.formulario p{  
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content:center;
    padding: 1.5em;
    
    color: $secondaryColor;
    font-size: $textMd;
    font-weight: $textRegular;
       .btn{
        margin: 0.5em;
       }
       @media (min-width: 768px){
        height: auto;
        width: auto;

       }
}