#botonera{
    background-color: $maincolor;
    img{
        width: 150px;
        @media (min-width: 320px){
            width: 100px;
        }
    }
    ul{
        li{
            a{              
                color: $keyColor;
                font-size: $textMd;
                font-weight: $textLight;
                font-family: $fontroboto;
                &:hover{
                color: $secondaryColor;
                }
            }
        }
    }
}
.titulo{
    color: $secondaryColor;
    background-color:$keyColor;
    font-size: $textXxl;
    font-weight: $textBold;
    font-family: $fontroboto;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-top: 0.5em;
    text-align: center;
    text-transform: uppercase;
        a:hover{
        text-decoration: underline;       
        }   

}

h1{
    font-size: $textXl;
    color: $secondaryColor;padding-top: 0.4em;
    font-weight: $textBold;
    padding-bottom: 0.4em;
    margin-top: 0.5em;
    text-align: center;
   
}

main article a{
    text-decoration: none;
    color:rgb(13, 61, 61, 0.5); 
     &a:hover{
    color: rgb(210, 105, 30);
    } 
}

main article img{
    width: 100%;
    height: 40vh;
    object-fit: fill;
    padding-bottom: 3em;
    filter:none;
    &:hover{
    filter:sepia(100%);
    transition:filter 2s;
    }
}
.article a:hover{
    text-decoration: underline;
      
}
   

h4,h6{
    color: $secondaryColor;
    font-size: $textXl;
    text-align: center;
}

h4{
    font-weight:$textRegular;
    &:hover{
    text-decoration: underline;
    }
 }

#redes{
    background-color: $maincolor;
    margin-top: 3em;
}

#redes .footer__img{    
    margin-inline-start:3em;
    padding: 0.5em;
    width: 80px;
    height: 80px;     
    border-radius:50%;    
    
}
.card{
    width: 200%;
    height: 100px;

}

.r-A{
    grid-area: r-A;
}

.r-B{
    grid-area: r-B;
}

.r-C{
    grid-area: r-C;
}

.r-D{
    grid-area: r-D;
    
}

.p-E{
    grid-area: p-E;
  
}

#redes{
    display: grid;   
    grid-template-columns: 1fr 1fr;
    grid-row: repeat (3, 20vh);
    grid-template-areas: 
    "r-A r-B"
    "r-C r-D"
    "p-E p-E";
}

@media (max-width: 768px){
    #redes{
        grid-template-columns: 1fr;
        grid-template-rows: repeat (5,20vh);
        grid-template-areas: 
        "r-A"
        "r-B"
        "r-C"
        "r-D"
        "p-E";
    }   
  
 }

 p{
    color: $keyColor;
    display: grid;
    font-size:$textSm;
    font-weight: $textLight;
    width: 100%;
    margin: 3em;
    text-align:center;
    }

.formulario{
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;   
}
.formulario p{

    width: 100%;
    margin: 1em;
    padding: 1.5em;
    color: $secondaryColor;
    font-size: $textMd;
    font-weight: $textRegular;
   
    
}