@mixin redes ($ancho){
    width: $ancho;
    height: 90px;
    margin: 2em;
    object-fit:fill;
    padding-left: 2em;         
}
.r-A{
    @include redes (100px);
}
.r-B{
    @include redes (100px);
}
.r-C{
    @include redes (100px);
}
.r-D{
    @include redes (100px);
}
@mixin copy ($peso){
    display: grid;
    font-size:0.6em;
    font-weight: $peso;
    width: 100%;
    margin: 3em;
    text-align:center;
    }
p{
    @include copy (900);
}   