@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
$fontroboto: 'Roboto', sans-serif;
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
$maincolor: rgb(13, 61, 61, 0.5);
$secondaryColor: rgb(210, 105, 30);
$keyColor: white;

$textRegular:500;
$textBold:900;
$textLight:300;

$textSm:0.6em;
$textMd:1.2em;
$textXl:1.8em;
$textXxl:2.5em;