@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

$fontroboto: 'Roboto', sans-serif;

$maincolor: rgb(13, 61, 61, 0.5);

$secondaryColor: rgb(210, 105, 30);